$panels: 6;
$ratio: 16/9;

$ratioInv: 1 / $ratio;

* {
	box-sizing: border-box;
}

.experience-wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	border: 3px solid green;
	.experience-padder {
		width: 0;
		height: 2000px;
	}
	.experience {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		// background: red;
		display: flex;

		.panel {
			position: relative;
			height: 100vh;
			&:nth-child(1) {
				background-image: url(../../dist/img/1931.png);
				background-size: contain;
				border: 3px dashed #aaa444;
			}
			&:nth-child(2) {
				background-image: url(../../dist/img/1936.png);
				background-size: contain;
			}
			&:nth-child(3) {
				background-image: url(../../dist/img/1941.png);
				background-size: contain;
			}
			&:nth-child(4) {
				background: #777;
				border: 3px dashed #aaa777;
			}
			&:nth-child(5) {
				background: #888;
				border: 3px dashed #aaa888;
			}
			&:nth-child(6) {
				background: #999;
				border: 3px dashed #aaa999;
			}
		}
	}
}

.painting {
	width: 100%;
	height: 40%;
	background-image: url(../../dist/img/default_picture-03.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: 20%;
	left: 35%;
	z-index: 0;
}
.table {
	width: 100%;
	height: 10%;
	// padding-bottom: 10%;
	background-image: url(../../dist/img/table.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: 80%;
	z-index: 2;
}
.man {
	width: 100%;
	height: 35%;
	background-image: url(../../dist/img/default_man-02.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: 43.4%;
	left: 39%;
	z-index: 1;
}
.man2 {
	width: 60%;
	height: 40%;
	background-image: url(../../dist/img/mafia-04.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: 36.99%;
	left: 45%;
	z-index: 1;
}
.gun {
	width: 20%;
	height: 10%;
	background-image: url(../../dist/img/Gun.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: 85%;
	left: 30%;
	z-index: 3;
	&:hover.active {
		width: 21%;
		height: 12%;
		background-image: url(../../dist/img/Gun_outlined-01.svg);
		background-repeat: no-repeat;
		position: absolute;
		top: 84%;
		left: 30%;
		z-index: 3;
	}
}
.news {
	width: 20%;
	height: 30%;
	background-image: url(../../dist/img/newspaper-08.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: 79%;
	left: 62%;
	z-index: 3;
}
