.container {
	width: 600%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	.panel {
		width: 150%;
		height: 100vh;
		transition: background-color 0.5s;
		&.active {
			background-color: black !important;
		}
		.table {
			position: absolute;
			bottom: 10%;
			z-index: 0;
		}
		.pic-man {
			position: absolute;
			width: 20%;
			z-index: 1;
			bottom: 50%;
			right: 40vw;
		}
		.human-man {
			position: absolute;
			width: 25%;
			z-index: 2;
			bottom: 20%;
			right: 35vw;
		}
	}
	.blue {
		background-color: blue;
		color: white;
	}
	.red {
		background-color: white;
	}
	.orange {
		background-color: orange;
	}
	.purple {
		background-color: purple;
	}
	.green {
		background-color: green;
	}
	.gray {
		background-color: gray;
	}
}
